
/* Font updates for all applicable elements */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Raleway', sans-serif;
}
/*Header and Navbar settings */
header {
  background-color: white;
}
header h2 {
  background-color: #90EE90;
  text-align: center;
  color: #24292e;
  animation-name: nameTitle;
  animation-duration: 4s;
  padding: 30px;
  margin-bottom: 0;
  height: 100%;
}
h3 {
  font-size: 18px;
  color: #24292e;
}
body{
  background-image: url("../images/Dark-Pattern-Background.jpg");
  background-position: 50%;
}
p {
   line-height: 1.75em;
 }
 main .card {
   border: 0.5px solid lightgrey;
 }
header, main .card1, main .card2 {
   border-bottom-width: 3.5px;
   border-bottom-style: solid;
   border-bottom-color: lightgrey;
 }
header .navbar-dark .navbar-nav .nav-link {
  color: #90EE90;
  border: .5px solid #343a40;
  margin: 0px 20px;

}
header nav.bg-dark  {
  margin: 20px 0px;
  display: block;
 }
header .navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  text-shadow: 1px 1px 1px black;
  border: .5px solid white;
}
 /*Main Section Begins */
main .card-header {
  background-color: #90EE90;
  color: #24292e;
}
main .card1 {
  margin-top: 40px;
  margin-bottom: 40px;
}
main .card2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.card h5 {
  text-align: center;
  color: #24292e;
}
.form h5, .form input {
  font-style: italic;
  text-align: left
}
main .card1 h4 {
  text-align: left;
  color: #24292e;
}
h4.card-header{
  color: #24292e;
}
textarea {
  min-width: 100%;
}
h4 img {
  width: 45px;
  height: 35px;
}
.profilePicture {
  width: 300px;
  height: 352px;
  border-radius: 20px;
}
.profilePicture2 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-left: 10px;
}
.github, .stackoverflow, .linkedin, .modalIcons, .homeIcons {
  height: 100%;
  width: 100%;
}
.github:hover, .stackoverflow:hover, .linkedin:hover, .modalIcons:hover {
opacity: 0.5;
}
.disney, .burger, .dog, .movies, .gify {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.disney:hover, .burger:hover, .dog:hover, .movies:hover, .gify:hover {
  opacity: 0.7;
}
.images-relative {
  position: relative;
}
.img-uniq {
  max-width: 40%;
  margin-right: 20px;
}
.absolute1, .absolute3, .absolute5 {
  position: absolute;
  top: 60%;
  width: 96%;
  /* height:15%; */
  color: #24292e;
  font-size: 2rem;
  background: white;
  text-align: center;
}
.navbarPic {
  z-index: 100;
  position: absolute;
  top: 7.5%;
  left: -10%;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 6px solid white!important;
}

.absolute2, .absolute4 {
  position: absolute;
  top: 60%;
  width: 96%;
  height:15%;
  color: #24292e;
  font-size: 2rem;
  background: white;
  text-align: center;
}
 /*Main Section Ends*/
footer {
  /* border-top-style: solid;
  border-top-color: #2AB546;
  border-top-width: 5px;
  background-color: #666666; */
  height: 100px;
}
footer p {
  text-align: center !important;
  margin-top: 300px;
  color: white;
}
/*------------------------Disney Trivia------------------------------------ */
.beginpage {
  padding: 10px;
  background-color: #A991D4;
  border-radius: 10px;
}
.page1 {
  padding: 10px;
  border-radius: 10px;
}
#imgDisplay1, #imgDisplay2, #page1, #page2, #page3, #question, .timer, #answer, .correct, .incorrect {
  margin:10px;
}
.page6 {
  padding: 10px;
  background-color: #A991D4;
  border-radius: 10px;
}
.begin, .btn-primary, .btn-secondary, .btn-success, .btn-info, .btn-warning, .btn-primary, .btn-danger, .btn-link, .btn-dark{
  margin: 10px;
  font-size: 20px;
  display:block;
}
.gifyBtn {
  display: inline;
}
.answer {
  color: black;
}
h1.display-3 {
  font-weight: 450;
  font-size: 50px;
  color: #24292e;
  margin: 20px;
  text-align: center;
}
.display-3 {
  margin: 20px;
  text-align: center;
  color: black;
}
div.margin {
  margin-left: 15px;
}
.card {
  margin-top: 10px;
}
img {
  border-radius: 10px;
}
.navbar-brand {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 20px;
    font-size: 100%;
    line-height: 20px;
}
.homeIcons:hover {
  opacity:0.5;
}


/*------------------------Media Screen------------------------------------ */
@media screen and (max-width:330px) {
  .absolute1, .absolute3, .absolute5 {
    width: 96%;
    font-size: 2rem;
  }
  .absolute2, .absolute4 {
    width: 96%;
    font-size: 2rem;
}
.connectIcons {
  width:30.0%;
  height: 30.0%;
}
.navbarPic {
  display: none;
  left: -12%;
}
.profilePicture {
  width: 150px;
  height: 176px;
  border-radius: 20px;
}
.profilePicture2 {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-left: 10px;
}
}
@media screen and (min-width:331px) {
  .absolute1, .absolute3, .absolute5 {
    width: 96%;
    font-size: 2rem;
  }
  .absolute2, .absolute4 {
    width: 96%;
    font-size: 2rem;
}
.connectIcons {
  width:30.0%;
  height: 30.0%;
}
.navbarPic {
  display: none;
  left: -5%;
}
.profilePicture {
  width: 150px;
  height: 176px;
  border-radius: 20px;
}
.profilePicture2 {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-left: 10px;
}
}
@media screen and (min-width:401px) {
  .absolute1, .absolute3, .absolute5 {
    width: 96%;
    font-size: 2.5rem;
  }
  .absolute2, .absolute4 {
    width: 96%;
    font-size: 2.5rem;
}
.connectIcons {
  width:30.0%;
  height: 30.0%;
}
.navbarPic {
  display: none;
  left: 0%;
}
.profilePicture {
  width: 150px;
  height: 176px;
  border-radius: 20px;
}
.profilePicture2 {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-left: 10px;
}
}
@media screen and (min-width:768px) {
  .connectIcons {
    width:50.0%;
    height: 50.0%;
  }
  .absolute1, .absolute3, .absolute5 {
    width: 93%;
    font-size: 1.25rem;
  }
  .absolute2, .absolute4 {
    width: 93%;
    font-size: 1.25rem;
}
.navbarPic {
  display: none;
  left: -15%;
}
.profilePicture {
  width: 300px;
  height: 352px;
  border-radius: 20px;
}
.profilePicture2 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-left: 10px;
}
}

@media screen and (min-width:812px) {
  .absolute1, .absolute3, .absolute5 {
    width: 96%;
    font-size: 1.75rem;
  }
  .absolute2, .absolute4 {
    width: 96%;
    font-size: 1.75rem;
}
.homeIcons {
  height: 100%!important;
  width: 100%!important;
}
}

@media screen and (min-width:992px) {
  .absolute1, .absolute3, .absolute5 {
    width: 96%;
    font-size: 1.75rem;
  }
  .absolute2, .absolute4 {
    width: 96%;
    font-size: 1.75rem;
}
.navbarPic {
  display: initial;
  left: -15%;
}
}
@media screen and (min-width:1055px) {
  .absolute1, .absolute3, .absolute5 {
    font-size: 2rem;
  }
  .absolute2, .absolute4 {
    font-size: 2rem;
}
.navbarPic {
  display: initial;
  left: -10%;
}
}
